<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
  <%- include('global/header') %>
  <%- include('global/navbar') %>
  <h2>404 Error</h2>
  <h2>Uh something went wrong</h2>
  <%- include('global/footer') %>
  </html>
